    <!-- Main Footer -->
    <footer class="main-footer">
      <!-- To the right -->
      <div class="float-right d-none d-sm-inline">
        Made with LOVE
      </div>
      <!-- Default to the left -->
      <strong>Copyright &copy; Jar dev<a href="https://fajarr.tech"></a>.</strong> All rights reserved.
    </footer>
    