<%- include('../partials/header.ejs') -%>

<body class="hold-transition sidebar-mini">
  <div class="wrapper">

<%- include('../partials/sidebar.ejs') -%>
<%- include('../partials/navbar.ejs') -%>



<%- include('../partials/footer.ejs') -%>    
  </div>

