<%- include('../partials/header.ejs') -%>

<body class="hold-transition sidebar-mini">
  <div class="wrapper">

<%- include('../partials/navbar.ejs') -%>
<%- include('../partials/sidebar.ejs') -%>

<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0">Pengguna Dashboard</h1>
        </div><!-- /.col -->
      </div><!-- /.row -->
      <!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>
  <!-- /.content-header -->

  <!-- Main content -->
  <div class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">
          <div class="card">
          <div class="card-header">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal-primary">
              Tambah user
            </button>

            <div class="modal fade" id="modal-primary">
              <div class="modal-dialog">
                <div class="modal-content bg-default">
                  <div class="modal-header">
                    <h4 class="modal-title">Isi Data User baru</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <h6>NUPTK</h6>
                    <div class="input-group">
                      <input type="text" name="list" class="form-control" aria-label="Sizing example input"
                        aria-describedby="inputGroup-sizing-default" placeholder="Masukkan NUPTK" />
                    </div>
                    <h6>Nama lengkap</h6>
                    <div class="input-group">
                      <input type="text" name="list" class="form-control" aria-label="Sizing example input"
                        aria-describedby="inputGroup-sizing-default" placeholder="Masukkan nama lengkap..." />
                    </div>
                    <h6>Username</h6>
                    <div class="input-group">
                      <input type="text" name="list" class="form-control" aria-label="Sizing example input"
                        aria-describedby="inputGroup-sizing-default" placeholder="Masukkan Username" />
                    </div>
                    <div class="form-group">
                      <label>Role</label>
                      <select class="form-control">
                        <option>Sekretaris</option>
                        <option>Guru Piket</option>
                        <option>Admin</option>
                      </select>
                    </div>
                  </div>
                  <div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">
                      Close
                    </button>
                    <button type="button" class="btn btn-primary">
                      Save
                    </button>
                  </div>
                </div>
                <!-- /.modal-content -->
              </div>
              <!-- /.modal-dialog -->
            </div>
          </div>
          <!-- /.card-header -->
          <div class="card-body">
            <table id="example1" class="table table-bordered table-striped">
              <thead>
              <tr>
                <th>NUPTK</th>
                <th>Nama lengkap</th>
                <th>Username</th>
                <th>Role</th>
                <th>Aksi</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td>123435</td>
                <td>Fajar Ramadhani</td>
                <td>Fajar</td>
                <td>Guru Absensi</td>
                <td>delete</td>
              </tr>
              </tbody>
              <tfoot>
              <tr>
                <th>NUPTK</th>
                <th>Nama lengkap</th>
                <th>Username</th>
                <th>Role</th>
                <th>Aksi</th>
              </tr>
              </tfoot>
            </table>
          </div>
          <!-- /.card-body -->
        </div>
        </div>
      </div>
    </div>
  </div>

  <!-- /.content -->
</div>
<!-- /.content-wrapper -->

<!-- Control Sidebar -->
<aside class="control-sidebar control-sidebar-dark">
  <!-- Control sidebar content goes here -->
  <div class="p-3">
    <h5>Title</h5>
    <p>Sidebar content</p>
  </div>
</aside>
<!-- /.control-sidebar -->

<%- include('../partials/footer.ejs') %>    
  </div>

  <!-- jQuery -->
  <script src="plugins/jquery/jquery.min.js"></script>
  <!-- Bootstrap 4 -->
  <script src="plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
  <!-- AdminLTE App -->
  <script src="dist/js/adminlte.min.js"></script>
  <!-- MQTT.JS -->
  <script src="https://unpkg.com/mqtt/dist/mqtt.min.js"></script>
  <script src="dist/js/mqtt.js"></script>
  <!-- DataTables  & Plugins -->
<script src="plugins/datatables/jquery.dataTables.min.js"></script>
<script src="plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
<script src="plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
<script src="plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
<script src="plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
<script src="plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
<script src="plugins/jszip/jszip.min.js"></script>
<script src="plugins/pdfmake/pdfmake.min.js"></script>
<script src="plugins/pdfmake/vfs_fonts.js"></script>
<script src="plugins/datatables-buttons/js/buttons.html5.min.js"></script>
<script src="plugins/datatables-buttons/js/buttons.print.min.js"></script>
<script src="plugins/datatables-buttons/js/buttons.colVis.min.js"></script>
</body>
</html>

